body {
	padding-top: 155px;  /* Move body of page below navbar. */
}

.navbar{
	padding: 35px;
}

#search-bar{
	margin-left: -30px;
}


.navbar-nav > li > a{
	line-height: 5px;
}
div.sidebar > ul > li > a {

color:white;

}